<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form #studentForm="ngForm" (ngSubmit)="onStudentFormSubmit(studentForm)">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" ngModel required name="fname" id="fname">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" ngModel required name="lname" id="lname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" ngModel required name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input type="text" class="form-control" ngModel required name="contact" id="contact">
                    </div>
                    <button class="btn btn-primary">Add Student</button>
                </form>
            </div>
        </div>
    </div>
</div>
