<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form #todoForm="ngForm" (ngSubmit)="onTodoFormSubmit(todoForm)">
                    <div class="form-group">
                        <label for="todoItem">Todo Item</label>
                        <input type="text" class="form-control" required ngModel id="todoItem" name="todoItem">
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary">Add Todo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
