.form-control:disabled{
    background-color: #e9ecef;
    opacity: 1;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
}

mat-card{
    position: relative;
}

.checkInColor {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 10px;
}