.form-control:disabled{
    background-color: #e9ecef;
    opacity: 1;
    border: transparent;
    background-color: transparent;
    font-weight: bold;
}

.colorSpan {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 5px;
}