
<h1 class="font-weight-bold">
    Airline Passengers
</h1>

<app-passenger-count [totatlCount]="passArr.length"
[checkInCount]="checkInCount"
></app-passenger-count>

<mat-list role="list" *ngIf="passArr.length > 0; else noPass">
  <mat-list-item role="listitem" *ngFor="let pass of passArr">{{pass.fullname}}</mat-list-item>
</mat-list>

<ng-template #noPass>
    <p class="alert alert-info">
        No Passenger Added Yet !!!
    </p>
</ng-template>

<app-passenger-cards *ngFor="let pass of passArr"
[getPassObj]="pass"
(emitRemoveFun)="removeFum($event)"
></app-passenger-cards>